@import '@/scss/theme';
@import '@/scss/animation';

.chart-loading {
  @include flex-center;
  position: absolute;
  background-color: $background;
  opacity: 0.8;

  width: 100%;
  height: 49rem;
  @media (max-width: $phone-max-width) {
    height: 56rem;
  }
  z-index: 100;
  background-color: $off-white;
  color: $label;
  border: 0.1rem solid $line;
  border-radius: 1rem;
  // padding: 2rem;
  box-sizing: border-box;
  box-shadow: $shadow;
  // box-shadow: 0 0.4rem 0.4rem rgb(0 0 0 / 10%), 0 0.4rem 2rem rgb(0 0 0 / 10%);

  .loader {
    animation: rotate 1s infinite;
    height: 5rem;
    width: 5rem;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: $line;
    box-shadow: 3rem 0 0 $primary2;
    margin-bottom: 1rem;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: $primary1;
    box-shadow: 3rem 0 0 $primary3;
  }
}
