@import '@/scss/theme';

.input {
  @include body-regular;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  width: 10rem;
  color: $title-active;
  &::placeholder {
    color: $label;
  }
}
