@import '@/scss/theme';
@import '@/scss/animation';

.chart-wrapper {
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-height: calc(100vh - 20rem);
  overflow-y: scroll;

  & > * {
    margin-bottom: 1rem;
    width: 84.8rem;

    @media (max-width: $phone-max-width) {
      width: 47rem;
    }
  }

  .chart-pie-wrapper {
    @media (max-width: $phone-max-width) {
      width: 75% !important;
      margin: -4rem 0 -6rem 0;
    }
  }

  .chart {
    @include flex-center;
    @include body-regular;

    @media (max-width: $phone-max-width) {
      flex-direction: column;
      width: 47rem;
      height: 56rem;
    }
    justify-content: space-around;

    height: 49rem;

    & > * {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .paper {
    position: static;
    // box-shadow: $shadow;
    background-color: $off-white;
    color: $label;
    border: 0.1rem solid $line;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: $shadow;
  }

  .title-active {
    @include body-large;
    color: $title-active;
    margin: 2rem 2rem 1rem 2rem;
  }

  .total-outcome {
    padding: 2rem;
  }

  .no-data {
    text-align: center;
    margin-bottom: 15rem;
  }

  .chart-list {
    height: 100%;
    overflow: hidden;
  }

  .chart-item-wrapper {
    overflow-y: scroll;
  }
}
