@import '@/scss/theme';
@import '@/scss/animation';

.chart-wrapper {
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;

  & > * {
    margin-bottom: 1rem;
    width: 84.8rem;

    @media (max-width: $phone-max-width) {
      width: 47rem;
    }
  }

  .chart {
    @include flex-center;
    @include body-regular;

    @media (max-width: $phone-max-width) {
      flex-direction: column;
      width: 47rem;
      height: 78rem;
    }
    justify-content: space-around;

    height: 45rem;

    & > * {
      width: 100%;

      @media (max-width: $phone-max-width) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .paper {
    position: static;
    // box-shadow: $shadow;
    background-color: $off-white;
    color: $label;
    border: 0.1rem solid $line;
    border-radius: 1rem;
    // padding: 2rem;
    box-sizing: border-box;
    box-shadow: $shadow;
  }

  .title-active {
    @include body-large;
    color: $title-active;
    margin: 2rem 0 1rem 2rem;
  }

  .no-data {
    text-align: center;
    margin-bottom: 15rem;
  }
}

.chart-list {
  height: 100%;
  overflow-y: scroll;
}
