@import '../../../scss/theme';

.header {
  width: 90.4rem;
  height: 14.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $phone-max-width) {
    justify-content: space-around;
  }
  box-sizing: border-box;
  padding: 0 2.8rem;
  color: #fff;

  &__title {
    @include display-small;
    cursor: pointer;
    @media (max-width: $phone-max-width) {
      display: none;
    }
  }

  .date-controller {
    @include flex-center;
    .arrow-btn {
      position: absolute;
      z-index: 10;
      cursor: pointer;
      &:first-child {
        left: 37rem;
        @media (max-width: $phone-max-width) {
          left: 4rem;
        }
      }
      &:last-child {
        right: 35rem;
        @media (max-width: $phone-max-width) {
          left: 20rem;
        }
      }
    }
    .date {
      @include flex-center;
      cursor: pointer;
      flex-direction: column;
      &__month {
        @include display-large;
      }
      &__year {
        @include display-small;
        margin-top: 1.5rem;
      }
    }
  }

  .buttons {
    img {
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 2.4rem;
      }
    }
    .inactive {
      opacity: 0.5;
    }
  }
}
