@import '@/scss/theme';

.text-input {
  @include body-medium;
  background-color: $background;
  border: 0.1rem solid $line;
  outline: none;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  color: $title-active;

  &:focus {
    border: 0.1rem solid $primary1;
  }
  &::placeholder {
    color: $placeholder;
  }
}
