@import '../../../scss/theme';

.list-component {
  @include flex-center;
  @include body-medium;
  position: relative;
  flex: 1;
  width: 37.2rem;
  box-sizing: border-box;
  padding: 2rem 1.2rem;
  border: 0 solid $background;
  border-bottom: 0.1rem;
  box-sizing: border-box;
  padding-bottom: 2rem;
  color: initial;

  .title {
    color: $title-active;
    display: flex;
    align-items: center;
    flex: 0.55;
    .category-tag {
      margin-right: 1rem;
    }
  }
  .payment {
    @include body-medium;
    flex: 0.25;
    color: $body;
    @media (max-width: $phone-max-width) {
      font-size: 1rem;
    }
  }
  .amount {
    flex: 0.2;
    text-align: end;
    font-weight: 500;
    white-space: nowrap;
  }
  .outcome {
    color: $red;
  }
  .income {
    color: $primary3;
  }

  .percentage {
    position: absolute;

    left: 1rem;
    right: 1rem;
    bottom: 0.5rem;
    top: 6.3rem;

    background-color: $label;
    border-radius: 1rem;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      width: 0%;
    }
  }
}

.list-large {
  border-bottom: 0.1rem solid $line;
  width: 84.8rem;
  @media (max-width: $phone-max-width) {
    width: 47rem;
  }
}

.list-clickable {
  cursor: pointer;
  &:hover {
    background-color: $background;
    border-radius: 1rem;
  }
}
