@import '../../../scss/theme';

.select {
  @include flex-center;
  position: relative;
  width: 10.5rem;
  justify-content: space-between;
  cursor: pointer;
  .drop-icon {
    position: absolute;
    right: 0;
  }
  @media (max-width: $phone-max-width) {
    width: 100%;
  }
}

.none {
  color: $label;
}
