@import '../../../scss/theme';

.input-bar {
  @include flex-center;
  width: 90.4rem;
  height: 7.6rem;
  background-color: $off-white;
  border-radius: 1rem;
  box-shadow: $shadow;
  position: fixed;
  z-index: 2;
  transition: 0.3s;
  top: 15rem;
  &__buttons {
    @include flex-center;
    flex-direction: column;
    margin-right: 1.5rem;
    div {
      @include bold-small;
      cursor: pointer;
      width: 7rem;
      text-align: center;
      padding: 0.5rem;
      box-sizing: border-box;
      color: $placeholder;
      border-radius: 0.5rem;

      &.active {
        background-color: $primary1;
        color: #fff;
      }
    }
  }
  &__input {
    &--label {
      @include bold-small;
      color: $primary3;
    }
    &--content {
      @include body-regular;
    }
    padding: 0 2em;
    border: 0 solid $placeholder;
    border-left-width: 0.1rem;
  }
  .amount {
    @include flex-center;
    box-sizing: border-box;
    position: relative;
    div {
      width: 0.5rem;
    }
    input {
      text-align: end;
      margin-right: 1rem;
    }
    img {
      position: absolute;
      bottom: 0.5rem;
    }
  }
}
