@import '../../../scss/theme';

.input-bar {
  @include flex-center;
  width: 90.4rem;
  height: 7.6rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: $shadow;
  &__buttons {
    @include flex-center;
    flex-direction: column;
    margin-right: 1.5rem;
    div {
      @include bold-small;
      cursor: pointer;
      width: 7rem;
      text-align: center;
      padding: 0.5rem;
      box-sizing: border-box;
      color: $placeholder;
      border-radius: 0.5rem;

      &.active {
        background-color: $primary1;
        color: #fff;
      }
    }
  }
  &__input {
    &--label {
      @include bold-small;
      color: $primary3;
    }
    &--content {
      @include body-regular;
    }
    padding: 0 2em;
    border: 0 solid $placeholder;
    border-left-width: 0.1rem;
  }
  input {
    @include body-regular;
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 10rem;
    &::placeholder {
      color: $placeholder;
    }
  }
  .amount {
    @include flex-center;
    box-sizing: border-box;
    padding-left: 0.5rem;
    div {
      width: 0.5rem;
    }
    input {
      text-align: end;
      margin-right: 1rem;
    }
  }

  .select {
    @include flex-center;
    position: relative;
    img {
      margin-left: 1.5rem;
      cursor: pointer;
    }
  }
}
