@import '../../scss/theme';
@import '../../scss/animation';

.login-wrapper {
  @include flex-center;
  width: 24%;
  width: 100%;
  height: 100vh;
  background: $primary1;
  overflow: hidden;
  .github {
    @include flex-center;
    font-family: 'BMDOHYEON';
    font-weight: 800;
    font-size: 2.4rem;
    position: fixed;
    z-index: 11;
    color: $title-active;
    div {
      margin-left: 1rem;
    }
  }

  .title-wave {
    position: fixed;
    top: 30rem;
    z-index: 11;
    @media (max-width: $phone-max-width) {
      top: 40rem;
      font-size: 8rem;
    }
  }

  .wave {
    position: fixed;
    z-index: 10;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    background: $title-active;
    width: 200vw;
    height: 200vw;
    margin-left: -100vw;
    margin-top: -180vw;
    transform-origin: 50% 50%;
    border-radius: 43%;
    animation: drift 15s infinite linear;
  }

  .wave.-three {
    animation: drift 17s infinite linear;
    background: $background;
  }

  .wave.-two {
    opacity: 0.4;
    animation: drift 19s infinite linear;
    background: $background;
  }
}
