@import '../../../scss/theme';

.cal-line {
  @include flex-center;
  &:not(:last-child) {
    border-bottom: 0.1rem solid $line;
  }
  .cal-box {
    position: relative;
    width: 12rem;
    height: 12rem;
    &__date {
      @include bold-small;
      color: $label;
      position: absolute;
      right: 0.8rem;
      bottom: 0.8rem;
    }
    &__history {
      padding: 0.8rem 0.9rem;
      font-size: 1.4rem;
      .amount {
        color: $title-active;
        height: 2.2rem;
      }
      .income {
        color: $primary3;
      }
      .outcome {
        color: $red;
      }
      .none {
        display: none;
      }
    }
    &:not(:last-child) {
      border-right: 0.1rem solid $line;
    }
  }
  .today {
    background-color: $background;
  }
}
