@import '../../../scss/theme';

.category-tag {
  @include flex-center;
  @include bold-medium;
  color: #fff;
  width: 9.2rem;
  height: 3rem;
  border-radius: 99.9rem;
}

.category1 {
  background-color: $category1;
}
.category2 {
  background-color: $category2;
}
.category3 {
  background-color: $category3;
}
.category4 {
  background-color: $category4;
}
.category5 {
  background-color: $category5;
}
.category6 {
  background-color: $category6;
}
.category7 {
  background-color: $category7;
}
.category8 {
  background-color: $category8;
}
.category9 {
  background-color: $category1;
}
.category10 {
  background-color: $category10;
}
