@import '../../../scss/theme';

.info-component {
  @include flex-center;
  @include body-large;
  color: $primary3;
  justify-content: space-between;
  width: 84.8rem;
  position: fixed;
  top: 29rem;
  z-index: 2;
  @media (max-width: $phone-max-width) {
    align-items: flex-end;
  }
  .total-num {
    @include flex-center;
    white-space: pre-wrap;
    &__num {
      @media (max-width: $phone-max-width) {
        @include flex-center;
        font-family: 'BMDOHYEON';
        background-color: $primary1;
        color: $background;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
      }
    }
  }
  @media (max-width: $phone-max-width) {
    width: 47rem;
    top: 25rem;
  }
  .buttons {
    @include flex-center;
    @include body-medium;
    color: $label;
    &__button {
      background: none;
      margin-left: 2rem;
      display: inline;
      @include flex-center;
      span {
        margin-left: 1.2rem;
      }
    }
  }

  .active {
    color: $primary3;
  }
}
