@import '../../../scss/theme';

.info-component {
  @include flex-center;
  @include body-large;
  color: $primary3;
  justify-content: space-between;
  width: 84.8rem;
  position: fixed;
  top: 26rem;
  z-index: 2;
  @media (max-width: $phone-max-width) {
    width: 47rem;
  }
  .buttons {
    @include flex-center;
    @include body-medium;
    color: $label;
    &__button {
      background: none;
      margin-left: 2rem;
      display: inline;
      @include flex-center;
      span {
        margin-left: 1.2rem;
      }
    }
  }

  .active {
    color: $primary3;
  }
}
