@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes calendar {
  16% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
}

@keyframes open {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typingAni {
  0% {
  }
  10% {
    color: #6ed5eb;
  }
  20% {
    color: #94d3cc;
  }
  30% {
    color: #4a6cc3;
  }
  40% {
    color: #4ca1de;
  }
  50% {
    color: #817dce;
  }
  60% {
    color: #d092e2;
  }
  70% {
    color: #e2b765;
  }
  80% {
    color: #e6d267;
  }
  90% {
    color: #b9d58c;
  }
  100% {
    color: #4cb8b8;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 3rem 0 0 $primary2;
  }
  50% {
    box-shadow: 0 0 0 $primary2;
    margin-bottom: 0;
    -webkit-transform: translate(1.5rem, 1.5rem);
    -moz-transform: translate(1.5rem, 1.5rem);
  }
  100% {
    box-shadow: 3rem 0 0 $primary2;
    margin-bottom: 1rem;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 3rem 0 0 $primary3;
  }
  50% {
    box-shadow: 0 0 0 $primary3;
    margin-top: -2rem;
    -webkit-transform: translate(1.5rem, 1.5rem);
    -moz-transform: translate(1.5rem, 1.5rem);
  }
  100% {
    box-shadow: 3rem 0 0 $primary3;
    margin-top: 0;
  }
}
