@keyframes blink {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// stars
@import 'theme';

@function multiple-box-shadow($n) {
  $value: '#{random(700)}vh #{random(100)}vh #FFF';

  @for $i from 2 through $n {
    $value: '#{$value} , #{random(700)}vh #{random(100)}vh #FFF';
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}

@keyframes baemin {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes baemin2 {
  from {
    transform: translate(-35rem, -35rem);
    opacity: 1;
  }

  to {
    transform: translate(35rem, 35rem);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  15% {
    margin-left: 0;
  }

  20% {
    margin-left: -100%;
  }

  35% {
    margin-left: -100%;
  }

  40% {
    margin-left: -200%;
  }

  55% {
    margin-left: -200%;
  }

  60% {
    margin-left: -300%;
  }

  75% {
    margin-left: -300%;
  }

  80% {
    margin-left: -400%;
  }

  95% {
    margin-left: -400%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }

  70% {
    width: 100%;
  }
}
